# Require admin approval to modify all files in the root of the repository
/* @bcui-db @dakinggg @gupta-abhay

# Require team approval for code changes
/compose_rl/ @bcui-db @dakinggg @gupta-abhay @abaheti95
/scripts/ @bcui-db @dakinggg @gupta-abhay @abaheti95
/tests/ @bcui-db @dakinggg @gupta-abhay @abaheti95

# Require admin approval to change the CI build configuration
/.github/ @bcui-db @dakinggg @gupta-abhay
